@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'iranyekan';
  src: url('./assets/fonts/iranyekan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'iranyekan';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2rem;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
